button{
    margin-left: 5px;
}

li img{
    width: 20px;
    left:50%;
    margin-top: 5px;
    position: fixed;
}

li{
    background-color: #F1EFEC;
    margin-bottom: 5px;
    width: 50%;
    padding: 5px;
}